.results-page-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 22.8% 15% 62.2%;
}

.results-container {
    display: grid;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    grid-template-rows: 40% 40% 20%;
}

.results-buttons-container {
    display: grid;
    grid-template-columns: 25% 10% 5% 20% 5% 10% 25%;
}

.save-trip-button, .MuiButton-containedPrimary .WithStyles\(ForwardRef\(Button\)\)-root-16 {
    background-color: #60D13E !important;
}

.new-trip-button, .MuiButton-containedPrimary .WithStyles\(ForwardRef\(Button\)\)-root-16 {
    background-color: #FF5D47 !important;
}
