.navbar-buttons-container {
    display: grid;
    grid-template-columns: 74% 8% 8% 10%;
    color: #FFFFFF;
    background-color: #47C8FF;
    position: fixed;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    cursor: pointer;
}
