.navbar-container {
    display: grid;
    grid-template-rows: 30.7% 69.3%;
    height: 100%;
}

.homepage-navbar-container {
    display: grid;
    grid-template-rows: 20.7% 53.7% 25.6%;
    height: 100%;
}

.navbar-buttons-container {
    display: grid;
    grid-template-columns: 12% 46% 10% 10% 10% 12%;
    color: #FFFFFF;
    background-color: #47C8FF;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.navbar-button {
    display: table;
    height: 100%;
    cursor: pointer;
}

.navbar-text {
    display: table-cell;
    vertical-align: middle;
}

.username {
    padding-left: 15%;
}

.navbar-last-container {
    height: 100%;
    display: grid;
    grid-template-columns: 83.3% 16.7%;
}

.title-container {
    height: 100%;
    display: grid;
    grid-template-columns: 14.1% 29.6% 56.3%;
    font-style: normal;
    font-weight: normal;
    line-height: 64px;
    color: #000000;
}

.logo-container {
    margin-right: 6.9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.logo-container img {
    width: 45%;
    height: 45%;
}

.title {
    font-family: 'Cute Font', cursive;
}

.description {
    font-size: calc(10px + 6 * ((100vw - 1000px) / 680));
}

.map-query-container {
    display: grid;
    grid-template-columns: 12.5% 5.3% 21.9% 6.9% 26.4% 8.2%;
    grid-column-gap: 1.5%;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.title-description-container {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    text-align: right;
    letter-spacing: 0.01em;
    color: #000000;
    display: grid;
    grid-template-columns: 44.8% 42.1% 13.1%;
    height: 85%;
    align-items: flex-end;
}

@media only screen and (min-width: 1400px) {
    .title-container {
        font-size: 51.3px;
    }

    .navbar-buttons-container {
        font-size: 20px;
    }

    .query-label-text {
        font-size: 20px;
    }

    .title-description-container {
        font-size: 20px;
        line-height: 24px;
    }

    .MuiButton-label {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1399px) {
    .title-container {
        font-size: calc(28px + 6 * ((100vw - 1000px) / 680));
    }

    .navbar-buttons-container {
        font-size: 16px;
    }

    .query-label-text {
        font-size: calc(14px + 6 * ((100vw - 1000px) / 680));
    }

    .title-description-container {
        line-height: 18px;
        font-size: calc(15px + 6 * ((100vw - 1000px) / 680));
    }

    span.MuiButton-label {
        font-size: calc(13px + 6 * ((100vw - 1000px) / 680));
    }

    .navbar-text {
        font-size: calc(14px + 6 * ((100vw - 1000px) / 680));
    }
}

@media only screen and (max-width: 1085px) {
    .title-description-container {
        grid-template-columns: 30.8% 56.1% 13.1%;
    }
}

@media only screen and (max-width: 1000px) {
    .map-query-container {
        grid-template-columns: 5.5% 8.3% 20.9% 8.9% 26.4% 12.2%;
        grid-column-gap: 2.2%;
    }

    .title-description-container {
        grid-template-columns: 24.8% 62.1% 13.1%;
    }
}

@media only screen and (max-width: 750px) {
    .title-container {
        grid-template-columns: 14.1% 39.6% 46.3%;
    }

    .description {
        visibility: hidden;
    }

    .title-description-text-container {
        height: 40%;
    }
}

.description-title {
    font-weight: 500;
}

.address-field {
    width: 100%;
}

.MuiInputBase-input, .MuiFilledInput-input {
    font-family: 'Rubik', sans-serif !important;
}

.slider {
    /* Fixes console log errors */
    touch-action: none;
}

.MuiTypography-h6 {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 500;
}

.slider {
    /* Fixes console log errors */
    touch-action: none;
}

.MuiTypography-body1, .MuiInputLabel-formControl {
    font-family: 'Rubik', sans-serif !important;
}

#link-to-signup {
  margin-top: 20px;
  color: red;
  text-decoration: underline;
  font-size: 12px;
  text-align: center;
}

#link-to-signup a {
  color: red;
}
