.profile-page-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 32.8% 67.2%;
}

.profile {
  position: absolute;
  width: 848px;
  height: 563px;
  left: 71px;
  top: 285px;
  background: #EBEBEB;
  border-radius: 10px;
}

.previous-travels {
  position: absolute;
  width: 357px;
  height: 563px;
  left: 1006px;
  top: 285px;
  background: #EEEEEE;
}

.blacklist-container {
  position: absolute;
  width: 768px;
  height: 125px;
  left: 30px;
  top: 175px;
  background: #C4C4C4;
  border-radius: 3px;
}

.favourites-container {
  position: absolute;
  width: 768px;
  height: 125px;
  left: 30px;
  top: 375px;
  background: #C4C4C4;
  border-radius: 3px;
}
