.profile-page-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 32.8% 67.2%;
}

.profile {
  position: absolute;
  width: 850px;
  height: 550px;
  left: 90px;
  top: 200px;
  background: #EBEBEB;
  border-radius: 10px;
}

.previous-travels {
  position: absolute;
  width: 300px;
  height: 550px;
  left: 1000px;
  top: 200px;
  background: #EEEEEE;
}

.profile-info{
  position: absolute;
  width: 550px;
  height: 100px;
  left: 225px;
  top: 35px;
  background: #C4C4C4;
  border-radius: 3px;

}

.profile-text{
  margin: 5px;
  font-size: 15px;
}

.blacklist-text{
  position: absolute;
  left: 50px;
  top: 165px;
  font-size: 15px;
}

.add-blacklist{
  position: absolute;
  left: 400px;
}

.profile-blacklist-container {
  position: absolute;
  width: 735px;
  height: 150px;
  left: 50px;
  top: 190px;
  background: #C4C4C4;
  border-radius: 3px;
}

.favourites-text{
  position: absolute;
  left: 50px;
  top: 350px;
  font-size: 15px;
}

.profile-favourites-container {
  position: absolute;
  width: 735px;
  height: 150px;
  left: 50px;
  top: 375px;
  background: #C4C4C4;
  border-radius: 3px;
}
